{% extends "base.html" %}
{% block title %}Password Help{% endblock %}
{% block content %}
    <h1>Password Help</h1>
    <ul>
        <li>Password must be 16 characters long</li>
        <li>Include numbers, uppercase, lowercase, and special characters</li>
        <li>No four continuous characters should be of the same kind (e.g., no 4 uppercase or 4 lowercase  or 4 numbers in a row)</li>
        <li>Example Password efv4tgB6@167okM&</li>
    </ul>
    <a href="/">Back to Home</a>
{% endblock %}
